.mainWindow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.desktop {
  width: 100%;
  height: 100%;
}

.topbar {
  background-color: rgba(8, 7, 8, .3);
  color: var(--white);
  // min-height: 20px;
  font-size: 1rem;
  display: flex;
  justify-content:flex-end;
  padding: 3px;
  align-items: center;
  gap: 8px;
  *:hover {
    cursor: pointer;
  }
}

.desktopApps {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 25px;
  padding: 15px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
  grid-template-rows: repeat(auto-fit, minmax(50px, 50px));
  &__app {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.applicationBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  // height: 15%;
  border-radius: 10px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.664);
  &__app {
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
